# SQL Bonus

In [17]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [20]:
# Import the SQL database into Pandas.

from sqlalchemy import create_engine

from password import postgres_password

password = {'password': postgres_password}

engine = create_engine('postgresql://postgres:{password}@localhost:5432/employees')
conn = engine.connect()

ModuleNotFoundError: No module named 'password'

In [ ]:
# Get salary data

salary_data = pd.read_sql("SELECT * FROM salaries", conn)
salary_data.head()

In [ ]:
# Get title data

title_data = pd.read_sql("SELECT * FROM titles", conn)
title_data.head()

In [ ]:
# Merge the data

combined_data = pd.merge(salary_data, title_data, on="emp_no", how="inner")
combined_data.head()

In [ ]:
# Find means

grouped_df = combined_data.groupby("title").mean()
grouped_df

In [ ]:
# Drop emp_no

revised_grouped_df = grouped_df.drop(columns = "emp_no")
revised_grouped_df = revised_grouped_df.reset_index()
revised_grouped_df

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.
x = salary["salary"]
num_bins = 10
n, bins, patches = plt.hist(x, num_bins, facecolor='blue', alpha=0.5)

plt.xlabel('Salary Amount')
plt.ylabel('Number of Employees')
plt.title('Most Common Salary Ranges For Employees')
plt.grid()
plt.tight_layout()
plt.show()

In [ ]:
# Create a bar chart of average salary by title.

x_axis = revised_grouped_df["title"]
ticks = np.arange(len(x_axis))
y_axis = revised_grouped_df["salary"]

plt.bar(x_axis, y_axis, align="center", alpha=0.5)

plt.xticks(ticks, x_axis, rotation="vertical")

plt.ylabel("Salaries ($)")
plt.xlabel("Employee Titles")
plt.title("Average Employee Salary by Title")

plt.savefig("./Images/average_salary_by_title.png")

plt.show()

In [ ]:
# My emp_no
emp_query = '''
SELECT * FROM "Employees"
WHERE emp_no = '499942';
'''

my_salary = pd.read_sql_query(emp_query,engine)
my_salary