# SQL Bonus

In [ ]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sqlalchemy import create_engine

engine = create_engine('postgresql://localhost:5432/Employees')
conn = engine.connect()

In [ ]:
# Import the SQL database into Pandas.

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.

In [ ]:
# Create a bar chart of average salary by title.